.pictureAccount {
	background-image: url('https://miro.medium.com/max/1838/1*7nMNiJ3D9-SZg9bIQpPlGw.png'); 
    height: 100vh; 
    margin: 0px; 
    background-size: cover; 
    background-position: top;
}
